{$KOPANO_KONNECT_DOMAIN}:80, {$KOPANO_KONNECT_DOMAIN}:443 {
	errors stderr
	log stdout

	# https://caddyserver.com/docs/caddyfile/directives/tls
	tls internal

	# konnect oidc
	proxy /.well-known/openid-configuration kopano_konnect:8777
	proxy /konnect/v1/jwks.json kopano_konnect:8777
	proxy /konnect/v1/token kopano_konnect:8777
	proxy /konnect/v1/userinfo kopano_konnect:8777
	proxy /konnect/v1/static kopano_konnect:8777
	proxy /konnect/v1/session kopano_konnect:8777
	proxy /konnect/v1/register kopano_konnect:8777

	# konnect identifier login area
	proxy /signin/ kopano_konnect:8777 {
		transparent
	}

	# owncloud 10
	proxy /oc10 owncloud:8080 {
#		without /oc10
		transparent
	}
}

{$OWNCLOUD_DOMAIN}:80, {$OWNCLOUD_DOMAIN}:443 {
	errors stderr
	log stdout

	tls internal

	# owncloud 10
	proxy / owncloud:8080 {
		transparent
	}
}
