{$KOPANO_KONNECT_DOMAIN}:80, {$KOPANO_KONNECT_DOMAIN}:443 {
	errors stderr
	log stdout

	# https://caddyserver.com/docs/caddyfile/directives/tls
	# abiosoft/caddy:latest caddy_version 1.0.3 interprets 'tls internal' as an email-address and fails.
	# v1: 'tsl self_signed' generate and use an untrusted, self-signed certificate in memory that lasts 7 days
	# caddy/latest CADDY_VERSION: 2.1.1 understands tls internal.
	tls self_signed

	# konnect oidc
	proxy /.well-known/openid-configuration kopano_konnect:8777
	proxy /konnect/v1/jwks.json kopano_konnect:8777
	proxy /konnect/v1/token kopano_konnect:8777
	proxy /konnect/v1/userinfo kopano_konnect:8777
	proxy /konnect/v1/static kopano_konnect:8777
	proxy /konnect/v1/session kopano_konnect:8777
	proxy /konnect/v1/register kopano_konnect:8777

	# konnect identifier login area
	proxy /signin/ kopano_konnect:8777 {
		transparent
	}

	# owncloud 10
	proxy /oc10 owncloud:8080 {
#		without /oc10
		transparent
	}
}

{$OWNCLOUD_DOMAIN}:80, {$OWNCLOUD_DOMAIN}:443 {
	errors stderr
	log stdout

	tls self_signed

	# owncloud 10
	proxy /.well-known/openid-configuration kopano_konnect:8777
	proxy / owncloud:8080 {
		transparent
	}
}
